.main {
  min-height: 100vh;
}

.button {
  border: none;
  color: #24afa8;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  top: 250px;
  left: 185px;
  border-radius: 5px;
}

.button1 {
  background-color: #24afa8;
  color: white;
  border: 2px solid #baf3ff;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.body {
    background-color:#1491cb;
    /* #baf3ff;*/
    color: black;
    font-size: medium;
    display: flex; 
    align-items: center;
    justify-content: center;
    /*these three lines above make the proportions adjust to the screens movement*/
    position: relative;
}


/* .leftside, .rightside {
    height: 100vh;
    width: 100%;
}
@media screen and (min-width: 768px){
    .leftside, rightside{
    height: 100vh;
    }
} */

@media screen and (min-width: 768px){
    .body{
    height: 100vh;
    }
}

.leftside{
    height: 90vh;
    width:  90vh;
    background:#1491cb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    border-radius: 5px;
}

.p {
  text-indent: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;;
}


.h1{
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper{
    width: 470px;
    height: 300px;
    background:#f252e2;
     /*#ef86d7*/
    border-radius: 5px;
    border: 2px solid #baf3ff;
    padding: 25px 25px 25px;
    align-items: center;
    position: absolute;
}

.wrapper h2{
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.wrapper h3{
    color: white;
    font-size: 15px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper h4{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper textarea{
    width: 100%;
    height: 30px;
    padding: 10px;
    outline: none;
    resize: none;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 3px;
    border-color: #bfbfbf;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.textarea :is(:focus, :valid){
    border-color: #4671EA;
    border-width: 2px;
    padding: 10px;
}

.textarea::-webkit-scrollbar{
    width: 0px;
}

.username{
    position: absolute;
    top: 70px;
    width: 450px;
    background:   #24afa8;
    /* #baf3ff;, #24afa8*/
    border-radius: 5px;
    border: 2px solid #baf3ff;
    padding: 10px 10px 10px;
}
.password{
    position: absolute;
    top: 160px;
    width: 450px;
    background:   #24afa8;
    border-radius: 5px;
    border: 2px solid #baf3ff;
    padding: 10px 10px 10px;
}

/* .squareTopLeft {
  height: 150px;
  width: 150px;
  background-color: baf3ff;
  position: absolute;
  top: 30px;
  left: 90px;
  border-radius: 5px;
}
.squareTopLeftGreen {
  height: 100px;
  width: 100px;
  background-color: #24afa8;
  position:absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
}
.squareBottomRight {
  height: 150px;
  width: 150px;
  background-color: baf3ff;
  position: absolute;
  top: 220px;
  left: 475px;
  border-radius: 5px;
}
.squareBottomRightGreen {
  height: 100px;
  width: 100px;
  background-color: #24afa8;
  position: absolute;
  top: 390px;
  left: 585px;
  border-radius: 5px;
}
*/